<!DOCTYPE html>
<html>
  <head>
    <title>Devise test</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      app/views/layouts/application.html.erb
    </div>

    <header>
      <nav>
        <% if user_signed_in? %>
          <strong><%= link_to(current_user.email, root_path) %></strong>
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'サインアップ', new_user_registration_path %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
      ここからyield
    </div>

    <%= yield %>

    <div>
      ここまでyield
    </div>
  </body>
</html>
